[Desktop Entry]
Name=Bavaduck
Exec=/usr/lib/bavaduck/bavaduck %U
Icon=/usr/share/pixmaps/bavaduck.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;
