[Desktop Entry]
Name=ISGuce
Exec=/usr/lib/ISGuce/ISGuce %U
Icon=/usr/share/pixmaps/ISGuce.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;
