[Desktop Entry]
Name=ISGuce
Exec=/usr/lib/isguce/ISGuce %U
Icon=/usr/share/pixmaps/isguce.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;
